.HackerNewsList {
  padding-left: 20px;

  > li {
    list-style: none;
  }
}

.HackerNewsList__noti {
  text-align: center;
}

.HackerNewsList__item {
  margin: 30px 0;
}

.HackerNewsList__index {
  font-size: 2em;
  position: absolute;
  text-align: center;
  width: 1em;
}
