<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HNPWA with React</title>
  <meta name="description" content="Hacker News readers as Progressive Web Apps with React">
  <meta name="fragment" content="!">
  <meta name="keywords" content="HNPWA with React">
  <meta name="theme-color" content="#f4751e">
  <meta name="format-detection" content="telephone=no">

  <!-- Facebook -->
  <meta property="og:url" content="https://hnpwa-react.firebaseapp.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="HNPWA with React">
  <meta property="og:image" content="https://hnpwa-react.firebaseapp.com/og-image.png">
  <meta property="og:description" content="Hacker News readers as Progressive Web Apps with React">
  <meta property="og:site_name" content="HNPWA with React">

  <!-- Twitter -->
  <meta name="twitter:title" content="HNPWA with React">
  <meta name="twitter:description" content="Hacker News readers as Progressive Web Apps with React">
  <meta name="twitter:url" content="https://hnpwa-react.firebaseapp.com">
  <meta name="twitter:image" content="https://hnpwa-react.firebaseapp.com/og-image.png">

  <!-- Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon/favicon.ico">

  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>
  <%= htmlWebpackPlugin.options.markup %>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

  <script>
    window.addEventListener('load', function () {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(() => console.info('SW: service worker is installed.'))
          .catch((e) => console.error('SW: service worker registration error: ', e));
      } else {
        console.log('SW: service worker is not supported')
      }
    });
  </script>
</body>
</html>
